body {
  margin: 0;
}

.App {
  text-align: center;
}

#root {
  margin: auto;
  max-width: 700px;
}

.pagination-container {
  list-style-type: none;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}
.pagination {
  margin-right: 20px;
}
.data-container {
  display: flex;
  justify-content: space-between;
}
table,
th,
td {
  border: 1px solid black;
}
.page-link-active {
  border: solid 1px red;
}
